* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.header .header__navContainer_img {
  cursor: pointer; }

.header .header__navContainer {
  position: absolute;
  top: 20px;
  left: 85%;
  cursor: pointer;
  display: none;
  transition: 0.4s; }

.header .header__navContainer_title {
  text-transform: uppercase;
  font-size: 20px; }

.header .header__links {
  text-decoration: none;
  color: #fff; }

.header #chk {
  position: absolute;
  visibility: hidden;
  z-index: -1111; }

.header {
  font-family: 'Lato';
  background-color: #3c8cfe; }
  .header .header__circle_positon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10% 0;
    cursor: pointer; }
    .header .header__circle_positon .header__circle {
      background-color: rgba(255, 255, 255, 0.05);
      border-radius: 50%;
      width: 185px;
      height: 185px; }
      .header .header__circle_positon .header__circle .header__circle_middle {
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 50%;
        width: 160px;
        height: 160px;
        position: relative;
        top: 13px;
        left: 13px; }
        .header .header__circle_positon .header__circle .header__circle_middle .header__circle_inside {
          background-color: white;
          border-radius: 50%;
          width: 140px;
          height: 140px;
          position: relative;
          top: 10px;
          left: 10px; }
  .header .header__menu {
    padding-top: 1%; }
    .header .header__menu .header__nav {
      text-align: end;
      position: fixed;
      z-index: 100; }
      .header .header__menu .header__nav .header__links {
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 400;
        color: #fff;
        font-size: 30px;
        padding: 20px; }
        .header .header__menu .header__nav .header__links:hover {
          color: #0f5c08;
          text-shadow: 25px 5px 5px #0a0909;
          transition: all 0.3s linear; }
  .header .header__title {
    color: #fff;
    max-width: 800px;
    text-align: center;
    margin: 0 auto; }
    .header .header__title .header__title_slogan {
      text-transform: uppercase;
      font-size: 50px;
      font-weight: 900;
      margin-bottom: 40px; }
    .header .header__title .header__title_text {
      text-transform: uppercase;
      font-size: 16px;
      line-height: 2.5;
      max-width: 770px;
      margin-bottom: 75px; }
    .header .header__title .header__title_btn {
      width: 205px;
      height: 55px;
      border-radius: 40px;
      border: 0;
      text-transform: uppercase;
      font-size: 16px;
      font-weight: 700;
      color: #3c8cfe;
      background-color: #fff;
      margin-bottom: 90px;
      cursor: pointer; }
      .header .header__title .header__title_btn:hover {
        color: #fff;
        background-color: #620e3f;
        box-shadow: 10px 10px 10px #f8c0e1;
        transform: translate(10px, 10px);
        transition: all 0.5s linear; }
    .header .header__title .header__arrow {
      padding-bottom: 25px; }

@media screen and (max-width: 900px) {
  .header__navContainer_show-menu-btn {
    cursor: pointer; }
  .header .header__navContainer {
    display: block;
    max-width: 320px;
    position: fixed;
    z-index: 1100; }
  .header .header__menu .header__nav {
    display: none; }
  .header .header__navContainer .header__navContainer_title {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgba(26, 25, 25, 0.8);
    right: -100%;
    top: 0;
    text-align: center;
    padding: 80px 0;
    line-height: normal;
    transition: 0.7s;
    color: white;
    text-shadow: 0 0 15px; }
  .header .header__navContainer .header__navContainer_title .header__links {
    display: block;
    padding: 20px;
    color: white; }
  .header .header__navContainer .header__navContainer_title .header__links:hover {
    color: #94c91a;
    font-weight: 700;
    transform: perspective(360deg); }
  .header .header__navContainer .header__navContainer_hide-menu-btn {
    position: absolute;
    top: 40px;
    right: 40px;
    cursor: pointer; }
  .fa-times {
    width: 32px;
    height: 32px; }
  #chk:checked ~ .header__navContainer_title {
    right: 0;
    left: 0; } }

@media screen and (max-width: 400px) {
  .header .header__title .header__title_slogan {
    font-size: 40px;
    text-align: center; }
  .header .header__title .header__title_text {
    text-align: center;
    line-height: 2;
    font-size: 14px;
    margin: 0 10px 30px; } }

.expertIn {
  width: 100%;
  max-width: 2000px;
  min-height: 1145px;
  background-color: #f1f8ff;
  font-family: "Lato", sans-serif; }

.expertIn__title {
  font-size: 50px;
  font-weight: 300;
  text-align: center;
  padding: 100px 0px;
  padding-bottom: 55px;
  color: #3677fd; }

.expertIn-box {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  padding-bottom: 55px; }
  .expertIn-box__item {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 15px;
    margin-top: 55px;
    width: 360px; }

.expertIn-box__title {
  display: block;
  text-align: center;
  width: 100%;
  font-size: 24px;
  font-weight: 700;
  color: #3677fd;
  margin-top: 60px;
  text-transform: uppercase;
  line-height: 24px; }

.expertIn-box__text {
  width: 100%;
  max-width: 360px;
  font-size: 16px;
  font-weight: 400;
  color: #5a5a5a;
  margin-top: 30px;
  line-height: 35px;
  text-align: center; }
  .expertIn-box__text--smwidth {
    max-width: 320px; }

.expertIn__img {
  width: 140px;
  height: 140px;
  background-color: transparent;
  border: 1px solid #999999;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto; }
  .expertIn__img .animationimage {
    padding-bottom: 10px;
    padding-left: 5px; }

/*# sourceMappingURL=main.css.map */
